@import "./node_modules/bootstrap/scss/bootstrap";


.breadcrumb-custom {
    .breadcrumb-item {
      position: relative;
      flex-grow: 1;
      padding: 0.75rem 3rem;
  
      &::before {
        display: none;
      }
  
      &:not(.last)::after {
        position: absolute;
        top: 0; 
        right: -25px;
        z-index: 1;
        display: inline-block;
        width: 50px;
        height: 100%; 
        content: "";
        background-color: var(--bs-tertiary-bg);
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem; 
        box-shadow: 1px -1px var(--bs-border-color);
        transform: scale(1) rotate(45deg); 
      }
  
      &.first {
        padding-left: 1.5rem;
      }
  
      &.last {
        padding-right: 1.5rem;
  
        &::after {
          display: none;
        }
      }
  
      &.active {
        background-color: $secondary;
        border-radius: 0.25rem;
  
        a {
          color: white !important;
          background-color: $secondary;
        }
  
        &::after {
          background-color: $secondary;
          box-shadow: none;
          border: none;
        }
      }
    }
  }
  